
<nav class="nav-bg">
    <a class="logo" href="{% url 'index' %}"><span style="color:blue">Bloge</span>site</a>
    <nav class="nav-toolbar">
        {% if user.is_authenticated %}
        Пользователь: {{ user.username }}.
        <a class="nav-link" href="{% url 'user-profile' user.username %}">Моя страница</a>
        <a class="nav-link" href="{% url 'subscriptions' %}">Подписки</a>
        <a class="nav-link" href="{% url 'new-post' %}">Новый пост</a>
        <a class="nav-link" href="{% url 'logout' %}">Выйти</a>
        {% else %}
        <a class="nav-link" href="{% url 'login' %}">Войти</a> |
        {% endif %}
    </nav>
</nav>